# sample app.env

# gorm engine
GORM_ENGINE=mysql
# gorm connection string
GORM_CONNECTION="investmentdao:Tenshi831!@tcp(127.0.0.1:3306)/investmentdao?parseTime=true"

# app version not set
APP_VERSION=
#listening to any address
SERVER_PORT=0.0.0.0:8080