# sample app.env

# gorm engine
GORM_ENGINE=mysql
# gorm connection string
GORM_CONNECTION="investmentdao:password@tcp(127.0.0.1:3306)/investmentdao?parseTime=true"

#listening to any address
SERVER_PORT=8080